node_modules
**/node_modules
dist
tmp
out-tsc
.nx/cache
.nx/workspace-data
.nx/migrate-runs
.angular
.git
.github
.vscode
.idea
coverage
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.override.yml
npm-debug.log
yarn-error.log
.DS_Store
.env
*.env.local
apps/server/.env
render.yaml
